.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: &primary-white-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


.social-link .social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-description .social-link:hover,
.team-item-description .social-link:focus {
  background-color: $effect-color;
}

.social-link:hover .social-icon {
  fill: $primary-white-color;
}

.social-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer .social-link:hover,
.social-footer .social-link:focus {
  background-color: $effect-color;
}

.social-footer .social-list-item:not(:last-child) {
  margin-right: 10px;
}



